@import "../utils/mixins";


.explorer {
    text-align: center;
    background-color: #f3f3f3;
    padding: 1rem 1rem 3rem 1rem;

    h2 {
        padding-left: 0;
        margin-bottom: 1rem;
    }
   

    p {
        color: #6c757d;
        padding-bottom: 2rem;
    }

    button {
        @include button;
        transition: transform 200ms;

        &:hover {
            transform: scale(1.02);
            opacity: 0.9;
        }
    }
}

