@import "../utils/variables";

.fonctionnement {
    counter-reset: steps;

    h2 {
        padding-top: 1rem;
    }

    & ol {
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 1rem;
        padding: 0 1rem;
        @include tablet {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;            
        }
        @include desktop {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
        }
    }

    & li {
        &::before {
            content: counter(steps);
            counter-increment: steps;
            color: white;
            background-color: $primaire;
            display: grid;
            place-items: center;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            position: absolute;
            bottom: 1.1rem;
            left: -0.8rem;
            @media screen and (min-width: 768px) and (max-width: 998px) {
                bottom: 36%;
            }
        }
        position: relative;
        display: flex;
        background-color: $grey;
        font-weight: bold;
        font-size: 1.2rem;
        padding: 1.2rem;
        flex-grow: 1;
        border-radius: 1rem;
        margin: 0 1rem;
        list-style: none;
        @include box-shadow;
        margin-bottom: 2rem;

        @media screen and (max-width: 330px) {
            font-size: 0.9rem;
        }

        & i {
            margin-right: 1rem;
            color: grey;
            font-size: 1.1rem;
            display: grid;
            place-items: center;
        }

        &:hover{
            background-color: rgba(147,86,220, 0.1);
            cursor: pointer;
            > i {
                color: $primaire;
            }
        }
    }
    
}