@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  padding-left: 1rem;
}

h3, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
  position: relative;
}

.city {
  display: flex;
  background-color: #e6e8e6;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.5rem;
}
.city i {
  font-size: 1.2rem;
}
.city h3 {
  margin: 0.5rem;
}

.explorer {
  text-align: center;
  background-color: #f3f3f3;
  padding: 1rem 1rem 3rem 1rem;
}
.explorer p {
  color: #6c757d;
}
.explorer button {
  color: white;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.8rem;
  border: none;
  border-radius: 2rem;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px black;
}

.fonctionnement {
  counter-reset: steps;
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  padding: 0 1rem;
}
.fonctionnement li {
  position: relative;
  background-color: #f6f6f6;
  font-weight: bold;
  padding: 1.2rem;
  flex-grow: 1;
  border-radius: 1rem;
  margin: 0 1rem;
  list-style: none;
  box-shadow: 2px 1px 8px -3px black;
  margin-bottom: 2rem;
}
.fonctionnement li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: -0.8rem;
}
.fonctionnement li i {
  margin-right: 1rem;
  color: grey;
  font-size: 1.1rem;
}
.fonctionnement li:hover {
  background-color: rgba(147, 86, 220, 0.1);
  cursor: pointer;
}
.fonctionnement li:hover > i {
  color: #9356DC;
}

.menus {
  background-color: #f6f6f6;
  padding: 2rem 0;
}
.menus__cards {
  padding: 0 1rem;
  display: grid;
}
.menus__cards .new {
  position: relative;
}
.menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  top: 1rem;
  right: 1rem;
  border-radius: 0.1rem;
}
.menus .card {
  margin-bottom: 1rem;
}
.menus .card__image {
  border-radius: 1rem 1rem 0 0;
  height: 9rem;
  background-size: cover;
}
.menus .card__image-1 {
  background-image: url("../../assets/menu-1.jpg");
}
.menus .card__image-2 {
  background-image: url("../../assets/menu-2.jpg");
}
.menus .card__image-3 {
  background-image: url("../../assets/menu-3.jpg");
}
.menus .card__image-4 {
  background-image: url("../../assets/menu-4.jpg");
}
.menus .card__description {
  position: relative;
}
.menus .card__description h3, .menus .card__description p {
  margin: 0.5rem;
}
.menus .card__description h3 {
  margin-top: 1rem;
}
.menus .card__description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

footer {
  background-color: #353535;
  padding: 1rem;
  height: 15rem;
  color: white;
}
footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=style.css.map */
