@import "../utils/mixins";

.banner img {
    display: block;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

.resto__main {
    h2 {
        font-family: 'Shrikhand', cursive;
        padding: 1.5rem 1rem;
        @include heart (1.7rem);
        position: relative;
        border-radius: 2rem 2rem 0 0;
        background-color: $grey;
        margin: -3rem 0 0 0;
    }

    .menus {
        padding: 0 1rem 2rem 1rem;
        background-color: lightgreen;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        &__card > h4 {
            font-weight: unset;
            margin: 0;
            padding-bottom: 1rem;
        }

        &__items {
            background-color: white;
            border-radius: 1rem;

            h4 {
                margin: 0;
                padding: 0.5rem 0 0.2rem 0.5rem;
            }

            p {
                padding: 0 0 0.5rem 0.5rem;
                font-size: 0.9rem;
            }

            span {
                justify-content: space-between;
            }
        }
    }
}