@import "../utils/mixins";
@import "../utils/animations";


header {
    display: flex;
    align-items: center;

    .fa-arrow-left {
        padding: 1rem;
        cursor: pointer;    
    }

    h1 {
        width: 82%;
        text-align: center;
    }    
}




.banner {
    img {
    display: block;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
    }
}

.resto__main {
    h2 {
        font-family: 'Shrikhand', cursive;
        padding: 1.5rem 1rem;
        @include heart (1.7rem);
        position: relative;
        border-radius: 2rem 2rem 0 0;
        background-color: $grey;
        margin: -3rem 0 0 0;
    }

    .menus {
        padding: 0 1rem 2rem 1rem;
        background-color: $grey;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        &__category {
            overflow: hidden;

            > h4 {
            font-weight: unset;
            margin: 0;            
            margin-bottom: 0.2rem;
            }

            .overline {
                border-top: 3px solid $tertiaire;
                width: 2.6rem;
                margin-bottom: 0.8rem;
            }
        }

        &__card {
            background-color: white;
            border-radius: 1rem;
            margin-bottom: 1rem;
            display: flex;            
            overflow: hidden;
            box-shadow: 2px 4px 10px lightgrey;

            &__description {
                padding: 0.8rem; 
                overflow: hidden;

                h4, p {
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                p {
                    justify-content: space-between;
                    font-size: 0.9rem;                
                }
            }

            span {
                margin-left: auto;
                padding: 0.8rem;
                font-weight: bold;
                display: flex;
                align-items: flex-end;
            }

            &__check {
                display: grid;
                place-items: center;
                flex-shrink: 0;
                background-color: $tertiaire;
                width: 4rem;
                margin-right: -4rem;
                border-radius: 0 1rem 1rem 0;
                transition: margin-right 0.5s;

                .fa-check {
                    display: grid;
                    place-items: center;
                    color: $tertiaire;
                    background-color: white;
                    aspect-ratio: 1;
                    width: 2rem;
                    border-radius: 1rem;

                }
            }

            &:hover .menus__card__check {
                margin-right: 0;

                .fa-check {
                    animation: spin 0.5s ease-in-out;
                }
            }
        }        
    }
}